# Entorno de desarrollo / Local

# --- dLocal Go Configuración (Sustituir por credenciales de Producción o Sandbox) ---
DLOCAL_X_LOGIN=tu_x_login_aqui
DLOCAL_X_TRANS_KEY=tu_x_trans_key_aqui
DLOCAL_SECRET_KEY=tu_secret_key_aqui
DLOCAL_WEBHOOK_SECRET=tu_webhook_secret_aqui
DLOCAL_API_URL=https://sandbox.dlocalgo.com
